#square2 {
  background-color: green;
}
#square3 {
  background-color: yellow;
}
#square1 {
  background-color: rgb(34, 0, 255);
}

* {
  margin: 20px;
}
#nav {
  text-align: right;
}
img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin: auto;
  justify-content: center;
  border: solid black;
}
div {
  display: flex;
}
.square {
  color: red;
  display: inline-flex;
  height: 250px;
  width: 100%;
}
.projects {
  text-align: center;
  font-family: cursive;
}
.skills {
  font-size: 20px;
  text-align: left;
}
button {
  background-color: rgb(170, 255, 0);
  border: 2px solid black;
  border-radius: 30px;
  color: black;
  padding: 5px;
  font-size: 20px;
}
